<li class="cards__item" data-event-id="{{id}}">
    <img src="{{imgUrl}}" alt="{{name}}" class="cards__item-img">
    <h2 class="cards__item-title">{{name}}</h2>
    <p class="cards__item-time">{{date}}</p>
    <div class="cards__item-loc">
        <svg class="cards__item-loc-img">
        <use href="#"></use>
        </svg>
        <p class="cards__item-loc-text">{{timezone}}</p>
    </div>
</li>